@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.drawer {
    max-width: 10%;
    min-width: 10%;
    height: max-content;
    left: 0;
    background: rgb(41, 41, 41);
    backdrop-filter: blur(7px);
    overflow: visible;
    position: fixed;
}

.canvas {
    width: 100vw;
    height: 100vh;
}

.geoDataContainer {
    width: auto;
    min-height: 100%;
    height: max-content;
    right: -10px;
    background: rgb(250, 250, 250);
}

#map {
height: 400px;
width: 400px;
position: relative;
right:0px;
}

.location-display-container {
width: 240px;
height: 40px;
opacity: 0.7;
background-color: darkgrey;
vertical-align: middle;
}
  
.location-display-text {
font-size: 20px;
text-align: left;
vertical-align: middle;
}
  
  
.date[type=range] {
-webkit-appearance: none;
appearance: none;
background: transparent;
width: 400px;
height: 20px;
margin-top: 5px;
/* border: 1px; */
border-color: gray;
border-style: solid;
overflow: hidden;
margin-left: -21px;
}
  
.date[type=range]::-webkit-slider-runnable-track {
-webkit-appearance: none;
appearance: none;
background-image:linear-gradient(.25turn, rgb(159, 181, 255), rgb(255, 231, 123), rgb(159, 181, 255) );
margin-left: -10px;
}
  
.date:hover {
opacity: 1;
}
  
.date[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 10px;
height: 20px;
background: #ffffff;
opacity: 0.7;
cursor: pointer;
border-radius : 0px;
/* box-shadow: -200px 0 0 200px #a8cc97; */

}

.date[type=range]::-ms-track {
width: 100%;
-webkit-appearance: none;
appearance: none;
/* cursor: pointer; */
}



.time[type=range] {
-webkit-appearance: none;
appearance: none;
background: transparent;
width: 400px;
height: 20px;
margin-top: 5px;
/* border: 1px; */
border-color: gray;
border-style: solid;
overflow: hidden;
margin-left: -21px;
}

.time[type=range]::-webkit-slider-runnable-track {
-webkit-appearance: none;
appearance: none;
background-image:linear-gradient(.25turn, rgb(85, 85, 85), rgb(255, 231, 123), rgb(85, 85, 85) );
margin-left: -10px;
}

.time:hover {
opacity: 1;
}

.time[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 10px;
height: 20px;
background: #ffffff;
opacity: 0.7;
cursor: pointer;
border-radius : 0px;
/* box-shadow: -200px 0 0 200px #a8cc97; */

}

.time[type=range]::-ms-track {
width: 100%;
-webkit-appearance: none;
appearance: none;
/* cursor: pointer; */
}

.rotate-open {
    animation: rotate-open 0.2s forwards
  }
  
  .rotate-close {
    animation: rotate-close 0.2s forwards
  }
  
  .opacity-open {
    animation: opacity-open 0.2s forwards
  }
  
  .opacity-close {
    animation: opacity-close 0.2s forwards
  }
  
  .alert-center[type=alert] {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .search-container {
    align-items: center;
    display: flex;
    justify-content: right;
    width: 350px;
    background-color: rgb(250, 250, 250);
    right: 0px;
    position: fixed;
  }
  
  form .no-submit {
    align-items: center;
    color: rgb(27, 27, 27);
    background-color: rgb(250, 250, 250);
    right: 0;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0;
  }
  
  input.no-submit {
    border: 1px solid white;
    width: 100%;
    padding: 9px 4px 9px 4px;
    background-image: url('./assets/loupe.png');
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E"); */
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  
  input[type="search"] {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 7px 8px 7px 30px;
    font-size: 16px;
    color: inherit;
    border: 1px solid black;
    border-radius: inherit;
    width: 100%;
  }
  
  input[type="search"]::placeholder {
    color: rgb(17, 17, 17);
  }
  
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #272727;
    border-color: #222222;
    outline: none;
  }
  
  .search-result:hover {
    background-color: #cccccc;
  }
  
  ul {
    list-style-type: none;
  }
  
  li .search {
    background-color: #f3f3f3;
    border : 1px solid rgb(27, 27, 27);
    list-style-type: none;
  }
  
  .popup {
    cursor: pointer;
    overflow: visible;
  }
  
  .popup .popupscene {
    visibility: hidden;
    z-index: 200;
    position: absolute;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation : fadeIn 1s;
  }
  
  
  /* ANIMATIONS */
  @keyframes rotate-open {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
  }
  
  @keyframes rotate-close {
    from {transform:rotate(180deg);}
    to {transform:rotate(0deg);}
  }
  
  @keyframes slide-right-open {
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
  }
  
  @keyframes slide-left-close {
    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}
  }
  
  @keyframes slide-down-open {
    from {transform: translateY(0%);}
    to {transform: translateY(-100%);}
  }
  
  @keyframes opacity-open {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @keyframes opacity-close {
    /* 100% {opacity:1;} */
    100% {opacity:0;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }